Source: nrtex
Section: misc
Priority: extra
Maintainer: Thor Kristoffersen <thor@nr.no>
Build-Depends: debhelper (>= 8), autotools-dev, latex2html, texlive-science
Standards-Version: 3.9.3
Homepage: http://intern.nr.no/wiki/index.php/Latex-maler

Package: nrtex
Architecture: all
Depends: ${misc:Depends}, texlive-science
Description: TeX extensions for NR.
 A set of TeX extensions for producing notes and reports conforming to NR's
 graphical profile.
